<div class="container-fluid">
  <h1>{{title}}</h1>

  <form #embedTweetForm="ngForm" class="form-horizontal" (ngSubmit)="submit()" autocomplete="off"
        novalidate>
    <div class="form-group">
      <label class="col-sm-2">Strip link prefix</label>
      <div class="col-sm-10">
          <input type="checkbox"
                 id="stripPrefix"
                 name="stripPrefix"
                 [(ngModel)]="stripPrefix"
          />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">How many</label>
      <div class="col-sm-10">
        <input type="text"
               id="howMany"
               name="howMany"
               [(ngModel)]="howMany"
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-12">Status IDs - one per line</label>
      <div class="col-sm-12">
            <textarea
              id="statusIds"
              name="statusIds"
              ngModel
              rows="15"
              cols="90"
            ></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2">
        <button id="register" type="submit" class="btn btn-primary"
                [disabled]="!canSubmit()">Get embed tweets
        </button>
        <button id="copy" class="btn btn-secondary" type="button" ngxClipboard [cbContent]="code">Copy</button>
      </div>
    </div>
  </form>

  <h2>Oembed code</h2>
  <textarea
    id="code"
    name="code"
    [(ngModel)]="code"
    rows="20"
    cols="90"
  ></textarea>


</div>
