<div class="container-fluid">
  <h1>Delete liked tweets (not working due to org.springframework.social.MissingAuthorizationException: Authorization is
    required for the operation, but the API binding was created without authorization.)</h1>
    <p>Note:</p>
    <ul>
        <li>PageSize is not necessarily the number of tweets that will be processed, because Twitter imposes is its own
            limits.
        </li>
    </ul>
    <form #profileForm="ngForm" class="form-horizontal" (ngSubmit)="submit()" autocomplete="off" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label">Profile (without the @)</label>
            <div class="col-sm-3">
                <input class="form-control"
                       id="profile"
                       name="profile"
                       [(ngModel)]="criteria.twitterProfile"
                       maxlength="30"
                       required
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Page size (default 50)</label>
            <div class="col-sm-3">
                <input class="form-control"
                       id="pageSize"
                       name="pageSize"
                       [(ngModel)]="criteria.pageSize"
                       required
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <span class="btn-group" role="group">
                    <button name="submit" class="btn btn-primary" [disabled]="profileForm.form.invalid">Delete <span
                      *ngIf="loading" class="fa fa-spinner fa-spin"></span></button>
                    <button name="clear" class="btn btn-secondary" (click)="clear()">Clear</button>
                </span>
            </div>
        </div>
    </form>
</div>
