<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <label class="col-sm-1 control-label" for="comment">Comment</label>
            <div class="col-sm-5">
                <textarea class="form-control"
                          id="comment"
                          name="comment"
                          [(ngModel)]="commentText"
                          maxlength="280"
                          rows="5"
                          cols="100"
                ></textarea>
                <p class="control-static">{{commentText?.length}}/280</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" (click)="close(true)" name="commentUpdateModalAccept">Update</button>
  <button class="btn btn-warning" type="button" (click)="close(false)">Cancel</button>
</div>
