<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.path" value="/tmp" />

    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{60} - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{60} - %msg%n"/>
    <appender name="FILE" level="debug" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/memetics.log</file>
        <append>true</append>
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="NEW_IMAGES" level="info" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/new_images.log</file>
        <append>true</append>
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- never want these -->
    <!-- https://github.com/spring-projects/spring-boot/issues/2745 -->
    <logger name="org.springframework.boot.context.web.ErrorPageFilter">
        <level value="OFF" />
    </logger>


    <!-- rarely interested in these -->
    <property name="rare" value="warn"/>
    <logger name="springfox" level="${rare}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="io" level="${rare}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.github.springtestdbunit" level="${rare}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.dbunit.dataset" level="${rare}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <!-- occasionally need these -->
    <property name="occasional" value="warn"/>
    <logger name="org.springframework.orm" level="${occasional}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework.web.client" level="${occasional}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework" level="${occasional}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.scribe.model" level="${occasional}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <!-- sometimes debug, otherwise info -->
    <property name="sometimes" value="info"/>
    <logger name="org.springframework.social" level="${sometimes}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate" level="${sometimes}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.glassfish.jersey" level="${sometimes}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <!-- nearly always debug -->
    <property name="always" value="debug"/>
    <logger name="au.com.memetics" level="${always}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="au.com.memetics.controller.MemeController" level="${always}" additivity="true">
        <appender-ref ref="NEW_IMAGES" />
    </logger>


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>