<ng-template #popContent>
  <img [src]="meme.url" alt="{{meme.title}}" class="luiPopover"/>
</ng-template>

<span id="preview{{meme.id}}" name="preview"
      [popover]="popContent"
      triggers="mouseenter:mouseleave"
      popoverTitle="{{meme.title}}"
      container="body"
      containerClass="luiPopover"
      placement="auto">
  <i class="fa fa-picture-o show-more" aria-hidden="true"></i>
</span>
&nbsp;
<app-mm-meme-toolbar [profile]="profile" [meme]="meme"></app-mm-meme-toolbar>
&nbsp;
<app-mm-meme-tweet [meme]="meme" [profile]="profile"></app-mm-meme-tweet>
<app-mm-meme-facebook-post [meme]="meme" [profile]="profile"></app-mm-meme-facebook-post>
